@model WebAPIWithCoreMVC.ViewModels.UserDeleteViewModel
@{
    ViewData["Title"] = "DELETE";
}

<h1>Update User Informations</h1>
<h6 class="text-danger">Are you sure you want to delete this user?</h6>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" method="post">

            <div asp-validation-summary="ModelOnly" class=" text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName">User Name:</label>
                <input asp-for="UserName" class="form-control" readonly="readonly"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName">First Name:</label>
                <input asp-for="FirstName" class="form-control" readonly="readonly"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Last Name:</label>
                <input asp-for="LastName" class="form-control" readonly="readonly" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" class="form-control" readonly="readonly" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderName">Gender:</label>
                <input asp-for="GenderName" class="form-control" readonly="readonly" />
                <span asp-validation-for="GenderName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth">Birthdate:</label>
                <input asp-for="DateOfBirth" class="form-control" readonly="readonly" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">E-Mail:</label>
                <input asp-for="Email" class="form-control" readonly="readonly" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Address:</label>
                <input asp-for="Address" class="form-control" readonly="readonly" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-info" asp-action="Index">Return to List</a>
            </div>

        </form>
    </div>
</div>
